.sign-up{
    background-color: var(--contrast);
    color: var(--main)!important;
    border-radius: 40px;
    padding: 10px 15px;
    font-weight: 600;
    transition: transform 0.3s;
}

.sign-up:hover{
    transform: translateY(-3px);
    transition: transform 0.3s;
}

.sign-up-mavl:hover{
    background-color: #7dfdd6;
}
.sign-up-mt:hover{
    background-color: #fffa8e;
}