:root {
  /* --main: #089aaa; */
  --main: #011c7e;
  --primary:#011c7e;
  /* --main-deactive:#bedde2; */
  --main-deactive: #dad5e9;
  --main-text:#fff;
  /* --main-light:#59cbdc; */
  --main-light: #6c60a9;
  --main-light-text:#fff;
  /* --main-dark :#006b7b; */
  --main-dark: #131653;
  --main-dark-text: #fff;
  --primary: #0A369D;
  --secondary:#ffef19;
  /* --secondary-lighter:#390198 */
  --main-bg:#fcf5e88f;
  --contrast: #05feb1;
  --contrast-light: #05feb12e;
  --header-height: 100px;
  --mt-secondary:#82008f;
  --mt-secondary-dark: #64006e;
  --mt-contrast: #fff400;
  --mt-contrast-light:#fff400
}



body{
    color: black;
    font-family: 'Montserrat', sans-serif !important
}
.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}


/* ---BACKGROUND */

.bg-lighter{
    background-color: var(--main-bg);
}
.bg-main{
    background-color: var(--main);
}
.bg-main-dark{
    background-color: var(--main-dark);
}
.bg-main-light{
    background-color: var(--main-light);
}

.bg-secondary{
    background-color: var(--secondary);
}

.bg-secondary-lighter{
    background-color: var(--secondary-lighter);
}


/*--- BUTTON  */

.btn-primary{
    background-color: var(--main) !important;
    border: none !important;
}
.btn-primary:focus{
    outline: none;
    box-shadow: none !important;
}
.btn-primary:hover{
    background-color: var(--contrast-light)!important;
    color: var(--main) !important
}

.btn-secondary{
    background-color: var(--mt-secondary) !important;
    border: none !important;
}
.btn-secondary:focus{
    outline: none;
    box-shadow: none !important;
}
.btn-secondary:hover{
    background-color: var(--mt-contrast-light)!important;
    color: var(--mt-secondary) !important
}


/* ---- TEXT */
.text-justify{
    text-align: justify;
}
.text-main{
    color: var(--main);
}
.text-contrast{
    color: var(--contrast)
}
.text-main-title{
    color: var(--main);
    font-weight: 700;
}

/* mt secondary btn */

.btn-mt-secondary{
  
  color: var(--mt-contrast)!important;
  background-color: var(--mt-secondary)!important;
}

.btn-mt-secondary:hover{
  box-shadow: inset 16.5em 0 0 0 var(--mt-contrast)!important;
  color: var(--mt-secondary) !important;

}
/* .btn-mt-secondary span{
  display: inline-block;
  position: relative;
  transition: .3s;
}
.btn-mt-secondary:hover span{
  padding-right: 25px
}

.btn-mt-secondary span:after {
    content: "\00bb";
    width: 30px;
    position: absolute;
    top: 50%;
    right: -20px;
    transition: .3s;
    opacity: 0;
    font-size: 30px;
    transform: translate(-20%,-50%);
}
.btn-mt-secondary:hover span:after {
    opacity: 1;
} */